/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(184, 169, 169)
    padding: 10px;
}

/* CONTAINER PRINCIPAL */

.container{
    width: 95%;
    margin: auto;
    background: #0d47ff;
}

/* HEADER */

.head{
    width: 100%;
}

/* CARD HEADER */

.cardHead{
    width: 100%;

    background: #0d47ff;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 30px;
}

/* LOGO */

.logo{
    color: white;
    font-size: 18px;
}

/* NAV */

.nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* BOTÃO */

.sign button{
    padding: 10px 22px;

    border: 1px solid white;
    border-radius: 8px;

    background: transparent;
    color: white;

    cursor: pointer;
}


.sign button:hover{
     background: #631448;

    transform: translateX(-8px) scale(1.5);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    cursor: pointer;
}

#themeBtn{
    padding: 10px 14px;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    font-size: 18px;

    background: white;
}

/* DARK MODE */

.darkMode{
    background-color: #121212;
    color: white;
}

.darkMode .servico,
.darkMode .card,
.darkMode .cardA,
.darkMode .cardB,
.darkMode .cardC{
    background: #1e1e1e;
    color: white;
}




/* HERO */

.hero{
    width: 100%;

    background: #0d47ff;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 60px 20px 30px;
}

/* TEXTO PRINCIPAL */

.texto1{
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}

.texto1 h1{
    color: white;
    font-size: 56px;
    line-height: 1.2;
}

/* TEXTO SECUNDÁRIO */

.texto2{
    width: 50%;
    text-align: center;
    margin-bottom: 35px;
}

.texto2 p{
    color: white;
    font-size: 15px;
    line-height: 1.6;
}

/* EMAIL */

.areaEmail{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0d47ff;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

/* CAMPO EMAIL */

.campoEmail{
   
    

    background: white;
    
     padding: 4px 8px;  /
    padding-left: 4px;
    padding-right: 3px;

    border-radius: 15px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.campoEmail:hover{
    background: #256dd8;

    transform: translateY(-8px) scale(1.02);

    box-shadow: 0 10px 25px rgba(150, 64, 64, 0.2);

    cursor: pointer;
}

/* INPUT */

.caixaEmail1 input{
    width: 260px;

    padding: 14px;

    border: none;
    outline: none;

    border-radius: 8px;
}

/* BOTÃO START */

.botaoStart{
    background: #2456ff;
    color: white;

    border: none;
    border-radius: 8px;

    padding: 14px 24px;

    cursor: pointer;
}


.botaoStart:hover{
    
     background: #45473c;

    transform: translateX(-8px) scale(0.8);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    cursor: pointer;
}




/* DASHBOARD */

/* ── DASHBOARD ── */
.dashboard {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px; 
}

.dashboard::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;            
    width: 100%;
    height: 71%;        
    background: #0d47ff;

    /* curva elíptica: horizontal_radius vertical_radius */
   border-bottom-left-radius: 50% 60px;
border-bottom-right-radius: 50% 60px;

    z-index: 2;
}

.dashboard img {
    width: 85%;
    border-radius: 18px;
    position: relative;
    z-index: 2;           
}

/* ── BRANDS ── */
/**/

.brands{
    text-align: center;
    padding: 40px 20px;
}

.platIntegradas{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

    margin-top: 40px;
    padding: 20px 60px; /* dá respiro lateral */
}

.platIntegradas div{
    flex: 1; /* faz ocupar espaço igualmente */
    min-width: 120px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
}

.platIntegradas img{
    width: 80px;
    height: 80px;

    object-fit: contain;

    opacity: 0.8;
    transition: 0.3s ease;
}

.platIntegradas img:hover{
    opacity: 1;
    transform: scale(1.1);
}



/* RESPONSIVO */

@media(max-width: 900px){

    .cardHead{
        flex-direction: column;
        gap: 20px;
    }

    .nav ul{
        flex-wrap: wrap;
        justify-content: center;
    }

    .texto1{
        width: 100%;
    }

    .texto1 h1{
        font-size: 38px;
    }

    .texto2{
        width: 90%;
    }

    .campoEmail{
        flex-direction: column;
        width: 90%;
    }

    .caixaEmail1 input{
        width: 100%;
    }
}


/* PROXIMA AREA*/


/* SECTION SERVICOS */

.servicos{
    width: 100%;
    padding: 70px 40px;
    text-align: center;
}



/* TITULO */

.serviceText{
    margin-bottom: 50px;
}

.serviceText h2{
    font-size: 42px;
    font-weight: bold;
    color: #111;
    line-height: 1.2;
}

/* CONTAINER DOS CARDS */

.cardServicos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARD */



.servico{
    background-color: white;

    width: 320px;

    padding: 40px 25px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 22px;

    transition: 0.3s;

    box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
}

.servico:hover{
    background: #581f40;

    transform: translateY(-8px) scale(1.02);

    box-shadow: 0 10px 25px rgba(122, 18, 18, 0.2);

    cursor: pointer;
}

.servico:hover{
    transform: translateY(-8px);
}

/* ICONE */

.icone{
    width: 70px;
    height: 70px;

    border-radius: 50%;

    background-color: #f0ecff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.icone i{
    color: #6c4cff;
    font-size: 28px;
}

/* TITULO CARD */

.servico h3{
    font-size: 24px;
    color: #111;
}

/* TEXTO */

.servico p{
    color: #666;
    line-height: 1.7;
    font-size: 15px;
}

/* LINK */

.readMore{
    text-decoration: none;
    color: #4d3cff;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 8px;
}

.readMore:hover{
    color: #000;
}

/* RESPONSIVO */

@media(max-width: 768px){

    .serviceText h2{
        font-size: 32px;
    }

    .servico{
        width: 100%;
    }

}



/*AREA DE GETTING STARTED*/

/* AREA GET STARTED */

.getStarted{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    padding: 60px;
    background: #e3e3e7;
}

/* TEXTO */

.getStarted1{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.getStarted1 h3{
    font-size: 48px;
    line-height: 1.1;
}

.getStarted1 button{
    padding: 14px 28px;
    border: none;
    border-radius: 30px;
    background: blue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.getStarted1 button:hover{
    background: #3045ff;

    transform: translateY(-8px) scale(1.02);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    cursor: pointer;
}

/* AREA DA IMAGEM */

.getStarted2{
    flex: 1;git

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    
}



/* IMAGEM */

.getStarted2 img{
    width: 100%;
    max-width: 420px;

    position: relative;

    z-index: 2;

    border-radius: 2px; 
}

/*fazendo umas pequenas responsividades para optima UX*/

.getStarted2 img:hover{
   

    transform: translateY(-8px) scale(1.02);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    cursor: pointer;
}




/*Area azul, que é para ser chamativa ao cliente*/

/* =========================================
   AREA AZUL / CALL TO ACTION
========================================= */

.areaCall{
    width: 100%;
    background: #0b18a1;
    padding: 60px;
   
    display: flex;
    flex-direction: column;
    gap: 50px;
}


/* =========================================
   PRIMEIRA LINHA
========================================= */

.areaCall .topArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.textoView h2{
    color: white;
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 700;
}

.areaCall button{
    padding: 16px 30px;

    border: none;
    border-radius: 999px;

    background: white;
    color: #0E1EDB;

    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;

    transition: 0.3s;
   
}

.areaCall button::hover{
    background: #d88888;
}



/* 
   SEGUNDA LINHA
 */

.areaCall .bottomArea{
    display: flex;
    align-items: center;
    gap: 30px;
}


/*
   LADO ESQUERDO
 */

.steps{
    display: flex;
    flex-direction: column;
    gap: 20px;

    flex: 1;
}

.stepCard{
    background: #0E1EDB;

    padding: 20px;

    border-radius: 16px;

    display: flex;
    align-items: flex-start;
    gap: 15px;

    transition: all 0.3s ease;
}




.stepCard:hover{
    background: #3045ff;

    transform: translateY(-8px) scale(1.02);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    cursor: pointer;
}


/* NÚMERO */

.number{
    width: 55px;
    height: 55px;
    min-width: 55px;

    border-radius: 50%;

    background: white;
    color: #0E1EDB;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
    font-weight: bold;
}


/* TEXTO */

.stepText h3{
    color: white;

    margin-bottom: 8px;

    font-size: 1.2rem;
}

.stepText p{
    color: #dcdcdc;

    font-size: 0.95rem;

    line-height: 1.6;
}


/*
   IMAGEM
 */

.imageArea{
    flex: 1;
}

.imageArea img{
    width: 100%;
    height: 100%;

    border-radius: 20px;

    object-fit: cover;
}


.imageArea img:hover{
    background-color: #0d7928;

    transform: translateY(-8px) scale(1.02);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    cursor: pointer;
}


/* 
   RESPONSIVIDADE
 */


/* TABLETS */

@media (max-width: 992px){

    .areaCall{
        padding: 40px 30px;
    }

    .topArea{
        flex-direction: column;
        align-items: flex-start;
    }

    .textoView h2{
        font-size: 2.5rem;
    }

    .bottomArea{
        flex-direction: column;
    }

    .imageArea{
        width: 100%;
    }

}


/* MOBILE */

@media (max-width: 600px){

    .areaCall{
        padding: 30px 20px;
        gap: 35px;
    }

    .textoView h2{
        font-size: 2rem;
    }

    .stepCard{
        flex-direction: column;
    }

    .number{
        width: 45px;
        height: 45px;
        min-width: 45px;

        font-size: 1.2rem;
    }

    .stepText h3{
        font-size: 1rem;
    }

    .stepText p{
        font-size: 0.9rem;
    }

    .areaCall button{
        width: 100%;
    }

}






.gettingStarted{
    width: 100%;
    padding: 80px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.gettingStarted h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    max-width: 700px;
}


/* CAIXA */
.planBox{
    border: 2px solid #d9d9d9;
    border-radius: 16px;

    padding: 30px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


/* TEXTO */
.discount{
    font-size: 1rem;
    font-weight: 600;
    color: #666;
}


/* BOTÕES */
.buttonsPlan{
    background: #f2f2f2;
    padding: 8px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.buttonsPlan button{
    
    background: rgb(202, 201, 206);

    padding: 12px 24px;
    border-radius: 25px;
    border: 1 px solid yellow;;
    font-size: 1rem;
    cursor: pointer;
}


/* BOTÃO ATIVO */
.buttonsPlan .active{
    background: #3454ff;
    color: white;
    font-weight: bold;
}

.botao2{
    padding: 14px 28px;
    
    
    color: black;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(154, 154, 158);
}

.botaoN{
    border-radius: 20px;
    background-color: rgb(212, 212, 223);
    padding: 2px   1px;
}




/* =========================================
   SECTION DOS CARDS
========================================= */

.cards{
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;

    padding: 80px 20px;
}


/* =========================================
   CARD
========================================= */

.card{
    width: 320px;

    border: 1px solid #c0aeae;
    border-radius: 20px;

    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 25px;

    transition: 0.3s;
    background-color: ;
}




.card:hover{
    background: #0d7928;

    transform: translateY(-8px) scale(1.02);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    cursor: pointer;
}


/* CARD POPULAR */

.popular{
    background: #1737ff;
    color: white;
}

.popular hr{
    border-color: rgba(216, 206, 206, 0.3);
}


/* =========================================
   TOPO
========================================= */

.cardTop{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


/* TAG */

.planName{
    width: fit-content;

    
    

    padding: 6px 14px;

    border-radius: 8px;

    font-size: 0.9rem;
    font-weight: bold;
}


/* PREÇO */

.price{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.price h2{
    font-size: 1rem;
    font-weight: bold;
}

.price span{
    font-size: 1rem;
    margin-bottom: 8px;
}


/* TEXTO */

.planText{
    color: #777;
    font-size: 0.95rem;
}

.popular .planText{
    color: #e4e4e4;
}


/* =========================================
   FEATURES
========================================= */

.features{
    display: flex;
    flex-direction: column;
    gap: 18px;
}


.feature{
    display: flex;
    align-items: center;
    gap: 12px;
}


/* CÍRCULO */

.circle{
    width: 20px;
    height: 20px;

    min-width: 20px;

    border-radius: 50%;

    background: #1737ff;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 0.7rem;
    font-weight: bold;
}

.popular .circle{
    background: white;
    color: #1737ff;
}


/* =========================================
   BOTÃO
========================================= */

.card button{
    margin-top: auto;

    width: 100px;

    border: 4px solidblue#9aff17;

    padding: 6px;

    border-radius: 999px;

    background: #1737ff;
    color: white;

    font-weight: bolder;

    cursor: pointer;

    transition: 0.3s;

   
}


.card button: hover{
background-color: yellow;
}


.areaButton{
    display: flex;
    flex-direction: row;;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.card button:hover{
    transform: scale(1.03);
}


/* BOTÃO CARD POPULAR */

.popular button{
    background: white;
    color: #1737ff;
}


/* =========================================
   RESPONSIVO
========================================= */

@media (max-width: 992px){

    .cards{
        gap: 20px;
    }

    .card{
        width: 100%;
        max-width: 400px;
    }

}


@media (max-width: 600px){

    .cards{
        padding: 50px 15px;
    }

    .card{
        padding: 25px;
    }

    .price h2{
        font-size: 2.3rem;
    }

}




.areaButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* =========================================
   TESTEMUNHOS
========================================= */

.areaTestemunho{
    width: 100%;

    padding: 80px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 50px;
}


/* TÍTULO */

.areaTestemunho .titulo{
    font-size: 3rem;
    font-weight: 700;

    text-align: center;
}



/* =========================================
   ÁREA DOS CARDS
========================================= */

.AreaCards{
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}


/* =========================================
   CARD
========================================= */

.cardA,
.cardB,
.cardC{
    width: 320px;

    background: white;

    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;

    gap: 25px;

    transition: 0.3s;
}

.cardA:hover,
.cardB:hover,
.cardC:hover{
    
    background: #a8b0b3;

    transform: translateY(-8px) scale(1.02);

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    cursor: pointer;

}


/* =========================================
   ESTRELAS
========================================= */

.stars{
    display: flex;
    gap: 8px;
}

.stars i{
    color: #2444ff;
    font-size: 1rem;
}


/* =========================================
   TEXTO
========================================= */

.cardText{
    color: #555;

    line-height: 1.7;

    font-size: 0.95rem;
}


/* =========================================
   USER
========================================= */

.user{
    display: flex;
    align-items: center;
    gap: 15px;
}

.user img{
    width: 60px;
    height: 60px;

    border-radius: 50%;

    object-fit: cover;
}

.user h3{
    font-size: 1rem;
    margin-bottom: 4px;
}

.user span{
    color: #777;
    font-size: 0.9rem;
}


/* =========================================
   RESPONSIVO
========================================= */

@media (max-width: 992px){

    .AreaCards{
        gap: 20px;
    }

}


@media (max-width: 600px){

    .areaTestemunho{
        padding: 50px 15px;
    }

    .areaTestemunho .titulo{
        font-size: 2rem;
    }

    .cardA,
    .cardB,
    .cardC{
        width: 100%;
    }

}





/* RESET */



/* BODY */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

/* FOOTER */

.footer{
    width: 100%;
    background-color: #041835;
    color: white;

    padding: 60px 80px;
}

/* TOPO */

.topFooter{
    display: flex;
    flex-direction: column;

    align-items: center; 
    text-align: center;

    margin-bottom: 40px;
}

.textoTopo{
    font-size: 35px;
    font-weight: bold;

    width: 500px;
    line-height: 45px;
}

.btnFooter{
    padding: 15px 25px;

    border: none;
    border-radius: 50px;

    background-color: white;
    color: rgb(23, 23, 70);

    font-size: 16px;
    cursor: pointer;
}

.btnFooter:hover{
    background-color: grey;
}

/* LINHA */

hr{
    border: none;
    height: 1px;
    background-color: #2a2f38;

    margin: 40px 0;
}

/* AREA PRINCIPAL */

.areaFooter1{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

/* ESQUERDA */

.divEsquerda{
    width: 300px;
}

.logo{
    font-size: 28px;
    font-weight: bold;

    margin-bottom: 20px;
}

.divEsquerda p{
    color: #bdbdbd;
    line-height: 28px;
}

/* DIREITA */

.divDireita{
    display: flex;
    gap: 70px;

    flex-wrap: wrap;
}

/* CAIXINHAS */

.caixinha{
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.caixinha h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.caixinha div{
    color: #bdbdbd;url(d:/DevX/mozflow)
    cursor: pointer;
}

.caixinha div:hover{
    color: white;
}

/* COPYRIGHT */

.copyright{
    text-align: center;
    color: #c49191;
    margin-top: 20px;
    font-weight: bold;
}

.bill{
    font-weight: bold;
    color: rgb(59, 114, 14);
}

/* RESPONSIVO */

@media(max-width: 900px){

    .topFooter{
        display: flex;
        flex-direction: column;
        gap: 25px;

        align-items: center;
    }

    .textoTopo{
        width: 100%;
        font-size: 28px;
        line-height: 38px;
    }

    .areaFooter1{
        flex-direction: column;
    }

    .divDireita{
        gap: 40px;
    }

    .footer{
        padding: 40px 30px;
    }

}




.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(156, 153, 153, 0.6);
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}



